{% extends 'blog/base.html' %}
{% block title %} ABOUT | abe dev{% endblock %}
{% block content %}
<div class="container">
    <main>
        <h1 className="text-2xl font-bold" id="home">
            Welcome to the website!
        </h1>
        This is my *personal* website which is currently under construction. Plans are to have the sections currently seen on the left with login added so that posts can have comments/likes/user posts/profiles
        What is this all about?

        My name is **Abraham**, some people coming here may also know me as **727**.

        I'm actually currently looking for a **software engineering** position so if you stumble upon this website and are hiring or this was attached to an application, browse around and make sure to contact me.

        <h3>Topics of discussion:</h3>

            - Building and fixing my car
            - Technical tidbits about important software

        <h3>Interests:</h3>

            - Building things
            - Breaking things
            - Learning about how the universe functions
            - Improving my engineering skills
            - Hiking with my cat

        <p>
            This website is mainly going to be for voicing my opinions while sharing 
            different technical thoughts and learnings as I progress as a developer. 
            Although I don't have a lot of experience writing, I do thoroughly enjoy 
            it and have always been interested in starting a blog which will be hosted here!
        </p>
        
        <p>
            Most of what you currently see will undoubtedly change over time and 
            evolve as I evolve as a developer. Due to this, things are constantly 
            changing and some of the website's core functionalities and technologies might also change.
        </p>
        
        <p>
            If for whatever reason you are expecting to link to something here and it is not here, 
            there will be a chat where you can submit issues/thoughts/etc soon enough.
        </p>

        <em>This page is hosted using nginx and gunicorn on an Ubuntu instance hosted by DigitalOcean</em>
    </main>
</div>

{% endblock %}