{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="all" />

        <title>{% block title %}{% endblock %}</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'styles/main.css' %}"
        />

        <meta name="theme-color" content="#111016" />
        <script>
            document.documentElement.setAttribute("light", "");
            document.documentElement.classList.toggle("light-mode");
        </script>
    </head>
    <body>
        <a href="#skip" class="visually-hidden">Skip to main content</a>
        <header>
            <a class="home-link" href="/"> abe dev </a>
            <nav>
                <h2 class="visually-hidden">Top level navigation menu</h2>
                <ul class="nav">
                    <li>
                        <a href="/" class="nav-item">Home</a>
                    </li>
                    <li>
                        <a href="/chat" class="nav-item">Chat</a>
                    </li>
                    <li>
                        <a href="/about" class="nav-item">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="message-box">
                <p>Welcome to the abraham dev blog and portfolio</p>

                <p>
                    <em>This is a
                        <a href="https://www.djangoproject.com/">Django blog</a>
                        styled using the
                        <a href="https://github.com/11ty/eleventy-base-blog"><code>11ty baseblog</code> styling</a>.
                    </em>
                    <em>
                        <p>Feel free to check it out on my
                            <a href="https://github.com/abrahambeltran">Github</a>.
                        </p>
                    </em>
                </p>
            </div>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>
