{% extends 'blog/base.html' %} 
{% load markdownify %}

{% block title %} {{ post.title }} | abe dev {% endblock %} 
{% block content %}
    <div class="container animate">
        <article class="post" aria-label="Post">
            <div class="post__content">
                <div>
                    <h2 class="article__title">
                        <h1>{{ post.title }}</h1>
                    </h2>
                    <time class="article__excerpt">{{ post.created_at|date }} </time>
                    <p>
                        {{ post.body|markdownify|safe }}
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
